<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask</title>
</head>
<body>
    <div>
        <h1>Science fiction books</h1>
        <div>
            <table>
                <thead>
                    <th>Book title</th>
                    <th>Author</th>
                </thead>
                <tbody id="display-books">

                </tbody>
            </table>
        </div>
    </div>
    <div>
        <form action="#">
            <label for="search">Search</label><br>
            <input type="text" name="search" placeholder="search..."><br>
            <br>
            <button onclick="">Search</button>
        </form>
    </div>
    <script src="test.js"></script>
</body>
</html>